# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# pycharm editor settings
.idea

# vscode editor settings
.vscode

# project files
_DEL_/
exp/
checkpoints/
data/pretrain_weights/
datasets/CIFAR10
datasets/EMDS7
datasets/emds7split
datasets/NYUDepthV2

#
detectron2-main.zip

#
